#cardScroll {
    display: flex;
    overflow-y: scroll;
};

.card {
    min-height: 500px;
    max-height: 500px;
    flex-direction: column;
}

#foot {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
    
